{% load static %}
{% load sass_tags %}
<section id="banner">
    <div class="content">
        <header>
            <h1>Hi, Welcome to<br />
            my portfolio</h1>
            <p>On this site, you can see an archive of properties.</p>
        </header>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
        <ul class="actions">
            <li><a href="/home" class="button big">Check prop archives</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src={% static 'app/images/IMG_1269.JPG'%} alt="" />
    </span>
</section>
