{% load static %}


<div id="sidebar">
    <div class="inner">

    {# --Search-- #}
        <div id="search" class="alt">
            <form method="get" action="#">
                <input type="text" value="{{ request.GET.query }}" name="query" id="query" placeholder="Search" />
            </form>
            {% csrf_token %}
        </div>

    {# --Login/Logout-- #}
        <div id="accounts">
            {% if user.is_authenticated %}
                <p><a href="{% url 'account_logout' %}">ログアウト</a></p>
                <p><a href="{% url 'account_change_password' %}">パスワード変更</a></p>
                {% else %}
                <p><a href="{% url 'account_login' %}">ログイン</a></p>
            {% endif %}
        </div>


    {# --Menu-- #}
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li>
                    <span class="opener">Hokkaido</span>
                    <ul>
                        <li><a href="/home/?query=Hokkaido">Hokkaido</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener">Tohoku</span>
                    <ul>
                        <li><a href="/home/?query=Aomori">Aomori</a></li>
                        <li><a href="/home/?query=Akita">Akita</a></li>
                        <li><a href="/home/?query=Iwate">Iwate</a></li>
                        <li><a href="/home/?query=Miyagi">Miyagi</a></li>
                        <li><a href="/home/?query=Yamagata">Yamagata</a></li>
                        <li><a href="/home/?query=Fukushima">Fukushima</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener">Kanto</span>
                    <ul>
                        <li><a href="/home/?query=Ibaraki">Ibaraki</a></li>
                        <li><a href="/home/?query=Tochigi">Tochigi</a></li>
                        <li><a href="/home/?query=Gunma">Gunma</a></li>
                        <li><a href="/home/?query=Saitama">Saitama</a></li>
                        <li><a href="/home/?query=Chiba">Chiba</a></li>
                        <li><a href="/home/?query=Tokyo">Tokyo</a></li>
                        <li><a href="/home/?query=Kanagawa">Kanagawa</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Koushin-etsu</span>
                    <ul>
                        <li><a href="/home/?query=Niigata">Niigata</a></li>
                        <li><a href="/home/?query=Nagano">Nagano</a></li>
                        <li><a href="/home/?query=Yamanashi">Yamanashi</a></li>
                        <li><a href="/home/?query=Toyama">Toyama</a></li>
                        <li><a href="/home/?query=Ishikawa">Ishikawa</a></li>
                        <li><a href="/home/?query=Fukui">Fukui</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Tokai</span>
                    <ul>
                        <li><a href="/home/?query=Gifu">Gifu</a></li>
                        <li><a href="/home/?query=Shizuoka">Shizuoka</a></li>
                        <li><a href="/home/?query=Aichi">Aichi</a></li>
                        <li><a href="/home/?query=Mie">Mie</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Kansai</span>
                    <ul>
                        <li><a href="/home/?query=Shiga">Shiga</a></li>
                        <li><a href="/home/?query=Kyoto">Kyoto</a></li>
                        <li><a href="/home/?query=Osaka">Osaka</a></li>
                        <li><a href="/home/?query=Hyogo">Hyogo</a></li>
                        <li><a href="/home/?query=Nara">Nara</a></li>
                        <li><a href="/home/?query=Wakayama">Wakayama</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Chugoku</span>
                    <ul>
                        <li><a href="/home/?query=Tottori">Tottori</a></li>
                        <li><a href="/home/?query=Shimane">Shimane</a></li>
                        <li><a href="/home/?query=Okayama">Okayama</a></li>
                        <li><a href="/home/?query=Hiroshima">Hiroshima</a></li>
                        <li><a href="/home/?query=Yamaguchi">Yamaguchi</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Shikoku</span>
                    <ul>
                        <li><a href="/home/?query=Tokushima">Tokushima</a></li>
                        <li><a href="/home/?query=Kagawa">Kagawa</a></li>
                        <li><a href="/home/?query=Ehime">Ehime</a></li>
                        <li><a href="/home/?query=Kochi">Kochi</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Kyusyu</span>
                    <ul>
                        <li><a href="/home/?query=Fukuoka">Fukuoka</a></li>
                        <li><a href="/home/?query=Saga">Saga</a></li>
                        <li><a href="/home/?query=Nagasaki">Nagasaki</a></li>
                        <li><a href="/home/?query=Kumamoto">Kumamoto</a></li>
                        <li><a href="/home/?query=Oita">Oita</a></li>
                        <li><a href="/home/?query=Miyazaki">Miyazaki</a></li>
                        <li><a href="/home/?query=Kagoshima">Kagoshima</a></li>
                        <li><a href="/home/?query=Okinawa">Okinawa</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Okinawa</span>
                    <ul>
                        <li>Okinawa</li>
                    </ul>
                </li>
            </ul>
        </nav>

    {# --Section-- #}
        <section>
            <header class="major">
                <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic07.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic08.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic09.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section>

    {# --Section-- #}
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">email-adress@sample.com</a></li>
                <li class="icon solid fa-phone">080-0000-0000</li>
                <li class="icon solid fa-home">〒100-0001<br />
                1-1, Chiyoda, Chiyoda-ku, Tokyo</li>
            </ul>
        </section>

    {# --Footer-- #}
        <footer id="footer">
            <small>
                <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </small>
            </footer>

    </div>
</div>
