{% load static %}


<div id="sidebar">
    <div class="inner">

    {# --Search-- #}
        <nav id="menu">
            <header class="major">
                <h2>Search</h2>
            </header>
            <div id="search" class="alt">
                <form method="get" action="">
                    <input type="text" value="{{ request.GET.query }}" name="query" id="query" placeholder="Search" />
                    <label for="distance">距離：</label>
                        <input type="number" value="{{ request.GET.distance }}" name="distance" id="distance" placeholder="Input Number" />
                    <label for="age">築年数：</label>
                        <input type="number" value="{{ request.GET.age }}" name="age" id="age" placeholder="Input Number" />
                    <label for="menseki">面積：</label>
                        <input type="number" value="{{ request.GET.menseki }}" name="menseki" id="menseki" placeholder="Input Number" />
                    <label for="price">家賃：</label>
                        <input type="number" value="{{ request.GET.price }}" name="price" id="price" placeholder="Input Number" />
                    <br><br><button type="submit" class="btn btn-primary">検索</button>
                </form>
                {% csrf_token %}
            </div>
        </nav>


    {# --Menu-- #}
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li>
                    <span class="opener">北海道</span>
                    <ul>
                        <li><a href="/home/?query=北海道">北海道</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener">東北</span>
                    <ul>
                        <li><a href="/home/?query=青森県">青森</a></li>
                        <li><a href="/home/?query=秋田県">秋田</a></li>
                        <li><a href="/home/?query=岩手県">岩手</a></li>
                        <li><a href="/home/?query=宮城県">宮城</a></li>
                        <li><a href="/home/?query=山形県">山形</a></li>
                        <li><a href="/home/?query=福島県">福島</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener">関東</span>
                    <ul>
                        <li><a href="/home/?query=茨城県">茨城</a></li>
                        <li><a href="/home/?query=栃木県">栃木</a></li>
                        <li><a href="/home/?query=群馬県">群馬</a></li>
                        <li><a href="/home/?query=埼玉県">埼玉</a></li>
                        <li><a href="/home/?query=千葉県">千葉</a></li>
                        <li><a href="/home/?query=東京都">東京</a></li>
                        <li><a href="/home/?query=神奈川県">神奈川</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">北陸/甲信越</span>
                    <ul>
                        <li><a href="/home/?query=新潟県">新潟</a></li>
                        <li><a href="/home/?query=長野県">長野</a></li>
                        <li><a href="/home/?query=山梨県">山梨</a></li>
                        <li><a href="/home/?query=富山県">富山</a></li>
                        <li><a href="/home/?query=石川県">石川</a></li>
                        <li><a href="/home/?query=福井県">福井</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">東海</span>
                    <ul>
                        <li><a href="/home/?query=岐阜県">岐阜</a></li>
                        <li><a href="/home/?query=静岡県">静岡</a></li>
                        <li><a href="/home/?query=愛知県">愛知</a></li>
                        <li><a href="/home/?query=三重県">三重</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">関西</span>
                    <ul>
                        <li><a href="/home/?query=滋賀県">滋賀</a></li>
                        <li><a href="/home/?query=京都府">京都</a></li>
                        <li><a href="/home/?query=大阪府">大阪</a></li>
                        <li><a href="/home/?query=兵庫県">兵庫</a></li>
                        <li><a href="/home/?query=奈良県">奈良</a></li>
                        <li><a href="/home/?query=和歌山県">和歌山</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">中国</span>
                    <ul>
                        <li><a href="/home/?query=鳥取県">鳥取</a></li>
                        <li><a href="/home/?query=島根県">島根</a></li>
                        <li><a href="/home/?query=岡山県">岡山</a></li>
                        <li><a href="/home/?query=広島県">広島</a></li>
                        <li><a href="/home/?query=山口県">山口</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">四国</span>
                    <ul>
                        <li><a href="/home/?query=徳島県">徳島</a></li>
                        <li><a href="/home/?query=香川県">香川</a></li>
                        <li><a href="/home/?query=愛媛県">愛媛</a></li>
                        <li><a href="/home/?query=高知県">高知</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">九州/沖縄</span>
                    <ul>
                        <li><a href="/home/?query=福岡県">福岡</a></li>
                        <li><a href="/home/?query=佐賀県">佐賀</a></li>
                        <li><a href="/home/?query=長崎県">長崎</a></li>
                        <li><a href="/home/?query=熊本県">熊本</a></li>
                        <li><a href="/home/?query=大分県">大分</a></li>
                        <li><a href="/home/?query=宮崎県">宮崎</a></li>
                        <li><a href="/home/?query=鹿児島県">鹿児島</a></li>
                        <li><a href="/home/?query=沖縄県">沖縄</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    {# --Section-- #}
        <section>
            <header class="major">
                <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic07.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic08.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src={% static 'app/images/pic09.jpg' %} alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section>

    {# --Section-- #}
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">email-adress@sample.com</a></li>
                <li class="icon solid fa-phone">080-0000-0000</li>
                <li class="icon solid fa-home">〒100-0001<br />
                1-1, Chiyoda, Chiyoda-ku, Tokyo</li>
            </ul>
        </section>

    {# --Footer-- #}
        <footer id="footer">
            <small>
                <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </small>
            </footer>

    </div>
</div>
